body{
    color: red;
    text-align: left;
    font-family:  Arial, Helvetica, sans-serif;
}

.container{
    width: 70%;
    padding: 1em;
    text-align: left;
    border: 1px solid #DDD;
    margin: 0 auto;
}

.container h1{
    font-style: 70px;
}

#cabezera{
    background-color: teal;
    color: white;
    font-weight: blog;
    margin: 0;
    padding: 0.5em;
    box-shadow: 0 0 10px gray;
}

#cabezera span{
    font-weight: normal;
    margin-left: 2rem;
}